.demo {
    min-width: 280px;
    padding: 0 6%;
    background-color: #f2f2f2;
}

.demo__title {
    font-family: "Oswald";
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    color: #000;
}

.demo__description {
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
}

.demo__list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.demo__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    position: relative;
    width: 124px;
    padding-top: 8px;
}

.demo__items-first {
    font-family: "Oswald";
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}

.demo__items-second {
    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    position: relative;
    top: 10px;
    background-color: #f2f2f2;
    padding: 0 15px;
    width: 88px;
}

.demo__result {
    display: block;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    width: 280px;
    text-align: center;
    margin-top: 36px;
}



@media (min-width: $tablet-width) {
    .demo {
        width: 768px;
        padding: 0 30px;
        background: linear-gradient(to top, #eaeaea 50%, #fff 50%);
    }

    .demo__title {
        font-size: 60px;
    }

    .demo__description {
        font-size: 16px;
        line-height: 24px;
    }

    .demo__list {
        width: 384px;

    }

    .demo__item {
        width: 164px;
    }

    .demo__items-first {
        font-size: 30px;
        line-height: 37px;
    }

    .demo__items-second {
        font-size: 14px;
        line-height: 14px;
        top: 6px;
        background-color: #fff;
        padding: 0 10px;
        width: auto;
    }

    .demo__result {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        width: 180px;
        text-align: right;
        margin-top: 0;
        position: relative;
        top: -64px;
        left: 498px;
    }

    .slider__image {
        height: 517px;
    }

}

@media (min-width: $desktop-width) {
    .demo {
        width: 1440px;
        padding: 0 110px;
        display: flex;
        background: linear-gradient(to top, #eaeaea 70%, #fff 30%);
        position: relative;
    }

    .demo__description {
        width: 440px;
        padding: 70px 0;
    }

    .demo__list {
        margin-bottom: 55px;
    }

    .demo__items-second {
        background-color: #eaeaea;
    }

    .demo__result {
        position: static;
        width: 325px;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;
    }
}
