a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
    color: #444444;
    font-style: normal;

    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
